
body {
    font-family: 'Alegreya Sans', sans-serif;
}

.header {
    background: #2F3E46;
    position: absolute;
    width: 100%;
    display: flex;
    box-shadow: 0px 5px 5px gray;
    border-bottom: solid 2px #253137;
}

.title {
    margin: 2px auto 2px auto;
    color: #CAD2C5;
}

.section {
    height: 100vh;
    min-height: 300px;
}

.part1-bg {
    background: #CAD2C5;
}

.part2-bg {
    background: #AEB7A9;
}

.intro {
    padding-top: 65px;
    display: flex;
    height: 100%;
    align-items: center;
}

.experiencias {
    display: flex;
    height: 100%;
    align-items: center;
}

.exp-card {
    width: 100%;
}

.exp-card > h5 {
    margin-bottom: 0px;
    font-weight: 600;
}

.subtext {
    opacity: 0.8;
}